# Fichiers secrets (NE JAMAIS PARTAGER SUR GITHUB)
.env

# Base de données locale (On ne partage pas ton historique complet)
*.db
spotify_data.db

# Environnement virtuel Python
.venv/
venv/
env/

# Fichiers caches Python
__pycache__/
*.pyc

# Fichiers caches Streamlit
.streamlit/